---

---
<header class="flex justify-center items-center py-5 w-full xl:w-[1120px] mx-auto">
    

    <nav class="flex flex-row gap-x-10">
        <a href="#Inicio">Inicio</a>
        <a href="#Productos">Productos</a>
        <a href="#contacto">Contacto</a>
        <a href="#Preguntas frecuentes">Sobre mí</a>
    </nav>

</header>